# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.idea/.name
.idea/electora_web.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/libraries/electora_web_node_modules.xml
